<section id="intro" class="intro">
  <div class="container">
    <swiper-container #swiperLogo init="false" class="mySwiper">
      <swiper-slide #swiperSlideLogo>
        <img src="assets/images/background.jpg" class="img-fluid main-photo">
        <img src="assets/images/logo.png" alt="overlay-logo" class="overlay-logo img-fluid" [style.top]="overlayTop"/>
      </swiper-slide>
      <swiper-slide #swiperSlideLogo>
        <img src="assets/images/team/group_photo.jpeg" class="img-fluid main-photo">
        <img src="assets/images/logo.png" alt="overlay-group-photo" class="overlay-group-photo"
             [style.top]="overlayTop"/>
      </swiper-slide>
    </swiper-container>
  </div>
</section>
