@use 'colors' as *

.intro
  min-width: 100vw
  align-content: center
  background-image: url("assets/images/background.jpg")
  background-size: cover !important
  background-position: center center
  background-repeat: no-repeat
  overflow: hidden

.container
  margin-top: 20px
  margin-bottom: 20px

.img-fluid
  max-width: 50%
  max-height: 100vh
  vertical-align: middle
  height: auto

.section-header
  display: block

@media(min-width: 1334px)
  .img-fluid
    padding: 80px
