@use 'colors' as *

.intro
  min-width: 100vw
  align-content: center
  background-image: url("assets/images/background.jpg")
  background-size: cover !important
  background-position: center center
  background-repeat: no-repeat
  overflow: hidden

.img-fluid
  max-width: 100%
  max-height: 100vh
  vertical-align: middle
  height: auto

.section-header
  display: block
  padding-bottom: 40px

@media(min-width: 1334px)
  .intro
    background-attachment: fixed
