<section id="team" class="team">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h1>{{ 'sections.team.title' | translate }}</h1>
    </header>

    @for (subsection of ('sections.team.subsections' | translate : {} : 'json'); track subsection.title) {
      @if (subsection.members.length) {
        <header class="section-header">
          <h2>{{ subsection.title | translate }}</h2>
        </header>
        <div class="members row gy-4 justify-content-center">
          @for (member of subsection.members; track $index) {
            <div class="col-lg-3 col-md-6 col-sm-8 d-flex justify-content-center" data-aos="fade-up"
                 data-aos-delay="100">
              <app-member
                [name]="member.name | translate"
                [picture]="member.picture | translate"
                [title]="member.title | translate"
                [email]="member.email | translate"
                [website]="member.website | translate"
                [twitter]="member.twitter | translate"
                [linkedin]="member.linkedin | translate"
              ></app-member>
            </div>
          }
        </div>
      }
    }

    <header class="section-header">
      <h2>{{ 'sections.team.alumni.title' | translate }}</h2>
    </header>
    <div class="alumni members row gy-4 justify-content-center">
      @for (alumni of ('sections.team.alumni.list' | translate : {} : 'json'); track alumni.name) {
        <div class="col-lg-2 col-md-3 col-sm-6 d-flex" data-aos="fade-up"
             data-aos-delay="100">
          <app-member
            [name]="alumni.name | translate"
            [picture]="alumni.picture | translate"
            [title]="alumni.title | translate"
            [advisor]="alumni.advisor | translate"
            [currentJob]="alumni.currentJob | translate"
          ></app-member>
        </div>
      }
    </div>
  </div>
</section>
