@use 'colors' as *

i:hover
  color: $se-light-blue

.team
  background-color: $se-team-section-color
  .members
    padding-bottom: 30px

h1, h2, span.name, p.alumni
  color: $se-team-alumni-text-color

.section-header
  h2
    padding-top: 40px
    padding-bottom: 40px
    font-size: 20px
    letter-spacing: 1px
    font-weight: 700
    margin: 0

//.alumni
//  width: 100%
