@use 'colors' as *

h1, h2, div, button
  color: $se-faq-text-color

.app-section-faq
  background-color: $se-faq-section-color
  .row
    padding-left: 10%
    padding-right: 10%
    .accordion
      .accordion-item
        background-color: transparent
        border-bottom-color: rgba(0, 0, 0, 0.125)
        border-bottom-left-radius: 2px
        border-bottom-right-radius: 2px

  .accordion-collapse
    max-height: 0
    overflow: hidden
    transition: max-height 0.35s ease, padding 0.35s ease

    &.show
      max-height: 500px
      padding-top: 1rem
      padding-bottom: 1rem
      //background-color: $se-faq-expanded-color

  .accordion-button
    cursor: pointer
    background-color: $se-faq-expanded-color
    font-family: 'Merriweather bold', sans-serif

    &.collapsed
      background-color: transparent
    &:not(.collapsed)
      color: $se-faq-text-color
    &:focus
      box-shadow: none

