<section id="education" class="education">

  <div class="container">
    <div class="row gx-0 justify-content-center">

      <div class="col-lg-6 d-flex flex-column justify-content-center">
        <div class="content">
          <h1>{{ 'sections.education.title' | translate }}</h1>
          <p>
            @for (paragraph of ('sections.education.text' | translate); track $index) {
              {{ paragraph }} <br>
            }
          </p>
          <div class="text-center text-lg-start">
            <a href="education.html" target="_self" rel="noopener noreferrer"
               class="d-inline-flex align-items-center justify-content-center align-self-center">
              <span>{{ 'sections.education.buttonText' | translate }}</span>
              <i class="material-icons">arrow_right_alt</i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
