@use 'colors' as *

h1, h3, i, p, a
  color: $se-contact-card-text-color

.app-section-contact
  padding: 60px 0
  background-color: $se-contact-section-color

  .container
    width: 100%
    padding: 0 .75em

    .section-header
      text-align: center
      padding-bottom: 40px
      box-sizing: border-box

      h1
        text-transform: uppercase
        font-size: calc(1.375rem + 1.5vw)

  .info-box
    border-radius: 4px
    background: $se-contact-card-color
    padding: 30px

    h3
      font-size: 20px
      font-weight: 700
      margin: 20px 0 10px 0
      padding-top: 1.5em

    fa-icon
      font-size: 38px

    p
      margin-bottom: 0
      padding: 0
      line-height: 24px
      font-size: 14px
