<header id="header" class="header fixed-top">
  <div #nav class="nav-container container-fluid container-xl d-flex align-items-center justify-content-between">
  <a href="/research" target="_self" rel="noopener noreferrer" class="logo">
    <img src="/assets/images/logo-title-2.png" alt="Se Lab">
  </a>




  <nav class="navbar main-nav">
    <ul class="menu">
      @for (item of navItems; track item.fragment) {
        <li class="menu-item">
          <a [routerLink]="item.routerLink || []" [fragment]="item.fragment" (click)="scrollToSection(item.fragment)">
            @if (item.icon) {
              <span>{{ item.key | translate }}</span>
              <i class="material-icons">{{ item.icon }}</i>
            } @else {
              {{ item.key | translate }}
            }
          </a>
        </li>
      }
    </ul>
  </nav>

  @if (isOpen) {
    <div class="mobile-nav" [ngClass]="{'open': isOpen}">
      <a class="mobile-nav-close" (click)="toggleDropdown()">
        <i class="material-icons">clear</i>
      </a>
      <ul>
        @for (item of navItems; track item.fragment) {
          <li class="menu-item">
            <a [routerLink]="item.routerLink || []" [fragment]="item.fragment"
               (click)="navigateTo(item.fragment)">
              @if (item.icon) {
                <span>{{ item.key | translate }}</span>
                <i class="material-icons">{{ item.icon }}</i>
              } @else {
                {{ item.key | translate }}
              }
            </a>
          </li>
        }
      </ul>
    </div>
  } @else {
    <a class="mobile-nav-open" (click)="toggleDropdown()">
      <i class="material-icons">menu</i>
    </a>
  }
</div>
</header>
