@import 'colors.sass'

.material-icons
  font-size: 20px

.navbar
  transition: all 0.5s
  display: flex
  justify-content: space-between
  align-content: center !important
  padding: 0 .75rem

  .logo
    line-height: 0
    margin-left: -10px
    align-items: center
    display: flex
    img
      max-height: 40px
      margin-right: 6px

  .menu
    list-style: none
    display: flex
    margin: 0
    padding: 0

    .menu-item
      position: relative

      a
        display: flex
        align-items: center
        justify-content: space-between
        padding: 10px 0 10px 30px
        font-family: 'Axis', sans-serif
        text-transform: uppercase
        font-size: 16px
        font-weight: 700
        color: $se-white
        white-space: nowrap
        transition: 0.3s
        cursor: pointer
        text-decoration: none

        &:hover
          color: $se-light-blue
