<nav #nav class="navbar">
  <a href="/research" target="_self" rel="noopener noreferrer" class="logo">
    <img src="/assets/images/logo-title.png" alt="Se Lab">
  </a>
  <ul class="menu">
    @for (item of navItems; track item.fragment) {
      <li class="menu-item">
        <a [routerLink]="item.routerLink || []" [fragment]="item.fragment" (click)="scrollToSection(item.fragment)">
          @if (item.icon) {
            <span>{{ item.key | translate }}</span>
            <i class="material-icons">{{ item.icon }}</i>
          } @else {
            {{ item.key | translate }}
          }
        </a>
      </li>
    }
  </ul>
</nav>
