$se-white: #e8e4e1ff
$se-black: #000000

$se-main-yellow: #FFB300
$se-yellow-twenty-percent: rgba(255, 179, 0, 0.2)
$se-yellow-forty-percent: rgba(255, 179, 0, 0.4)
$se-yellow-sixty-percent: rgba(255, 179, 0, 0.6)
$se-yellow-eighty-percent: rgba(255, 179, 0, 0.8)
$se-light-gray: #DEDEDE
$se-gray: rgb(167, 168, 170)
$se-light-blue: rgb(124, 160, 197)
$se-blue: #006894

// Nav colors
$se-nav-color: $se-black
$se-nav-text-color: $se-main-yellow

// Logo section
$se-logo-bullet-color: $se-gray
$se-logo-bullet-active-color: $se-yellow-sixty-percent

// About section
$se-about-section-color: $se-white

// Team section
$se-team-section-color: $se-light-gray
$se-team-member-card-color: $se-black
$se-team-member-icon-color: $se-main-yellow
$se-team-member-card-text-color: $se-white
$se-team-alumni-text-color: $se-black

// Research section
$se-research-section-color: $se-yellow-sixty-percent
$se-research-card-color: $se-blue
$se-research-card-hover-color: $se-light-gray
$se-research-card-text-color: $se-black

// Collaborations section
$se-collaborations-bullet-color: $se-yellow-forty-percent
$se-collaborations-bullet-active-color: $se-black

// FAQ section
$se-faq-section-color: $se-yellow-eighty-percent
$se-faq-expanded-color: $se-white
$se-faq-text-color:  $se-black

// Sponsors section
$se-sponsors-section-color: $se-yellow-eighty-percent
$se-sponsors-bullet-color: $se-white
$se-sponsors-bullet-active-color: $se-black

// Contact
$se-contact-section-color: $se-white
$se-contact-card-color: $se-gray
$se-contact-card-text-color: $se-black

// Footer
$se-footer-color: $se-black
$se-footer-text-color: $se-main-yellow
$se-footer-link-color: $se-white
$se-footer-link-hover-color: $se-light-blue

// New footer
$se-footer-section-color: $se-black
$se-footer-main-text-color: $se-main-yellow
$se-footer-icon-color: $se-main-yellow
$se-footer-address-text-color: #aaa
$se-footer-contact-text-color: $se-white
$se-footer-separator-color: $se-gray
