@use 'colors' as *

.footer
  background: $se-footer-color
  padding: 0 0 30px 0
  font-size: 14px
  .copyright
    text-align: center
    padding-top: 30px
    color: $se-footer-text-color
  a
    color: $se-footer-link-color
  a:hover
    color: $se-footer-link-hover-color
