@use 'colors' as *

.section-header
  padding-bottom: 40px

.research
  //background-color: $se-research-section-color
  .research-box:hover
    //background: $se-research-card-hover-color
    transition: 0.5s
    transform: scale(1.1)

  .research-box
    border-radius: 4px
    //background-color: $se-research-card-color
    padding: 24px 20px
    box-shadow: 0 0 30px rgba(200, 200, 200, 0.3)
    transition: 0.3s
    justify-content: center
    height: 100%

    h3
      font-size: 18px
      color: $se-research-card-text-color
      font-weight: 700
      margin: 0
      padding-top: 0
      text-align: center

p
  text-align: justify
