<section id="collaborations" class="collaborations">
  <div class="container" data-aos="fade-up">
    <header class="section-header">
      <h3>{{ 'sections.collaborations.title' | translate }}</h3>
    </header>

    @let logos = ('sections.collaborations.logos' | translate);

    <swiper-container #swiper
      init="false">
      @for (logo of logos; track $index) {
        <swiper-slide #swiperSlide [attr.aria-label]="($index + 1) + ' / ' + logos.length">
          <img [src]="'assets/images/collaborations/' + logo + '.png'" class="img-fluid" [alt]="logo">
        </swiper-slide>
      }
    </swiper-container>
  </div>
</section>
