<mat-form-field appearance="outline">
  <mat-label>{{textDescription}}</mat-label>
  <mat-select [(value)]="selectedColor" (selectionChange)="selectColor($event.value)">
    @for (color of primary_palette_print_colors; track $index) {
      <mat-option [value]="color.value">
        <span class="color-circle" [style.background-color]="color.value"></span>
        {{ color.name }}
      </mat-option>
    }
    @for (color of primary_palette_digital_colors; track $index) {
      <mat-option [value]="color.value">
        <span class="color-circle" [style.background-color]="color.value"></span>
        {{ color.name }}
      </mat-option>
    }
    @for (color of secondary_palette_digital_colors; track $index) {
      <mat-option [value]="color.value">
        <span class="color-circle" [style.background-color]="color.value"></span>
        {{ color.name }}
      </mat-option>
    }
  </mat-select>
</mat-form-field>


