<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="row gx-0 justify-content-center">
      <div class="col-lg-8 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">
        <div class="content">
          <h1>{{ 'sections.about.title' | translate }}</h1>
          <p>
            @for (paragraph of ('sections.about.text' | translate); track $index) {
              {{ paragraph }} <br><br>
            }
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
