<footer id="footer" class="footer">
    <div class="container">
      <div class="column left-column">
        <div>
          <a href="https://www.vcu.edu" title="Virginia Commonwealth University seal" aria-label="Visit vcu.edu through the University seal">
            <span class="vcu_seal"></span>
          </a>
        </div>
        <div>
          <a class="university-name"  href="https://www.vcu.edu" title="Virginia Commonwealth University" aria-label="Virginia Commonwealth University main website">
            Virginia Commonwealth University
          </a>
        </div>
        <div>
          <a class="lab-name" href="/" title="Software Engineering (SE) Center">
            Software Engineering (SE) Center
          </a>
        </div>
        <div class="address">
            401 W. Cary St. <br />
            Box 123456<br />
            Richmond, Virginia 23219
        </div>
        <div class="footer-item">
          <fa-icon [icon]="faPhone" />
          <a class="telephone" href="tel:8048280100" title="Contact us by telephone">
            (804) 828-0100
          </a>
        </div>
        <div class="footer-item">
          <fa-icon [icon]="faEnvelope" />
          <a class="email" href="mailto:secenter@vcu.edu" title="Contact us by email">
            secenter@vcu.edu
          </a>
        </div>
      </div>
    </div>
    <div class="standards">
      <div class="footer-item standards-item">
        <a class="standards-link" title="VCU privacy statement" href="https://www.vcu.edu/privacy-statement" target="_blank" rel="noreferrer">
          Privacy
        </a>
      </div>
      <div class="footer-item standards-item">
        <a class="standards-link" title="Accessibility at VCU" href="https://accessibility.vcu.edu/" target="_blank" rel="noreferrer">
          Accessibility
        </a>
      </div>
      <div class="footer-item standards-item">
        <a class="standards-link" title="Contact the VCU webmaster" href="mailto:webmaster@vcu.edu" target="_blank" rel="noreferrer">
          Webmaster
        </a>
      </div>
      <div class="footer-item standards-item">
        <a class="standards-link" title="Vaccinate Virginia" href="https://vaccinate.virginia.gov/" target="_blank" rel="noreferrer">
          Vaccinate Virginia
        </a>
      </div>
    <div class="footer-item standards-item">Updated: 9/08/2025</div>
  </div>
</footer>
