@use 'colors' as *
@use 'bootstrap/scss/bootstrap' as *

@font-face
  font-family: 'Axis'
  src: url('../public/assets/fonts/axis.otf') format('opentype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Banda Regular'
  src: url('../public/assets/fonts/banda-regular.otf') format('opentype')
  font-weight: normal
  font-style: normal

h1, h2, h3
  font-family: 'Axis', sans-serif
  text-transform: uppercase

a
  text-decoration: none

body
  background-color: $se-white
  margin: 0
  font-family: 'Banda Regular', sans-serif

:root
  scroll-behavior: smooth

section
  padding: 60px 0
  overflow: hidden

.container
  width: 100%
  padding-left: .75rem
  padding-right: .75rem
  margin-left: auto
  margin-right: auto

.section-header
  text-align: center
